html,
body {
  background-color: #efeff4;
}
p {
  text-indent: 22px;
}
span.mui-icon {
  font-size: 14px;
  color: #007aff;
  margin-left: -15px;
  padding-right: 10px;
}
.mui-off-canvas-right {
  color: #fff;
}
.title {
  margin: 35px 15px 10px;
}
.title + .content {
  margin: 10px 15px 35px;
  color: #bbb;
  text-indent: 1em;
  font-size: 14px;
  line-height: 24px;
}
input {
  color: #000;
}
.innerul {
  display: none;
}
.mui-table-view-cell {
  padding: 0;
  line-height: 40px;
}
.mui-table-view-cell::after {
  left: 0;
}
.mui-table-view-cell div {
  background-color: gainsboro;
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
}
.continer {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.continer .startDate {
  height: 56px;
  line-height: 56px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0px 2px 2px #D0D0D0, 2px 0px 2px #D0D0D0;
}
.continer .startDate .font {
  text-align: left;
  position: absolute;
  left: 8px;
}
.continer .startDate .date {
  text-align: center;
  position: absolute;
  left: 35%;
}
.continer .startDate .calendar {
  text-align: right;
  position: absolute;
  right: 12px;
  color: #5ad1d8;
}
.continer .endDate {
  height: 56px;
  line-height: 56px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0px 2px 2px #D0D0D0, 2px 0px 2px #D0D0D0;
}
.continer .endDate .font {
  text-align: left;
  position: absolute;
  left: 8px;
}
.continer .endDate .date {
  text-align: center;
  position: absolute;
  left: 35%;
}
.continer .endDate .calendar {
  text-align: right;
  position: absolute;
  right: 12px;
  color: #9fda4e;
}
.continer .sure {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #00ade7;
  text-align: center;
  border-radius: 6px;
  color: #000;
  margin-bottom: 20px;
}
.continer .excel {
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #4ed59b;
  text-align: center;
  border-radius: 6px;
  color: #000;
}
.mui-dtpicker {
  right: 0 !important;
  width: 80% !important;
}
#offCanvasSide {
  width: 80%;
  background-color: #e5e5e5;
}
#table-count {
  padding: 1px 1px 0 1px;
}
#table-count table {
  width: 100%;
  border: 1px solid #D3DFED;
}
#table-count table th {
  background-color: #428AD2;
  color: #fff;
  font-weight: 400;
  font-family: "microsoft yahei";
}
#table-count table td {
  color: #7C8491;
}
#table-count table td:nth-of-type(-n+2) {
  color: #5A8DC2;
}
#table-count table th,
#table-count table td {
  font-size: 14px !important;
  text-align: center;
}
